//COLOURS
$white: #FFFFFF;
$bkBtn: #EDEDED;
$border: #CECECE;
$adjborder: #E2E2E2;
$shadow: drop-shadow(0 3px 6px #00000029);
$sRed: #E4423F;
$sBorder: #D83330;
$dRed: #A61C12;
$charcoal: #1A1A1A;

//FONTS
$title: Lexend;
$text: DM Sans;
$match: Rozha One;

//GENERAL STYLING
body {
  width: 414px;
  height: 896px;
  background-color: $white;
  color: $charcoal;
  font-size: 14px;
  text-align: center;
}

h1, h2, h3, #begin, .options {
  font-family: $title;
  font-weight: 600; 
}

p, #userImgLrg, #userImgSml, #matchImgLrg, #matchImgSml, .details, #matchTitle, #matchName, #begin {
  position: absolute;
}

//BUTTONS
.options {
  background-color: $white;
  border: 1px solid $border;
  border-radius: 28px;
  width: 172px;
  height: 105px;
  filter: $shadow;
  margin: 5px;
  font-size: 30px;
}

.day {
  font-size: 18px;
  display: block;
}

.edit {

}

#slideButton {

}

#back {
  background: url('../assets/images/backIcon.svg') no-repeat center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 46px;
  left: 15px;
  border: none;
}

#begin {
  background-color: $sRed;
  border-radius: 23px;
  width: 130px;
  height: 45px;
  color: $white;
  font-size: 18px;
  filter: $shadow;
  top: 549px;
  left: 142px;
  border: none;
}

//COMPONENTS

//DETAILS
.details {
  display: inline;
  top: 46px;
  left: 15px;
}

//AVATARS
#avatarContainerLrg, #avatarContainerSml {
  position: relative;
}

#avatarContainerLrg {
  width: 282px;
  height: 193px;
  top: 240px;
  left: 66px;
}
#avatarContainerSml {
  width: 57px;
  height: 39px;
  top: 47px;
  left: 107px;
}

#userImgLrg, #userImgSml, #matchImgLrg, #matchImgSml {
  border-radius: 50%;
  object-fit: none;
  object-position: 50%;
}

#userImgLrg, #matchImgLrg {
  width: 160px;
  height: 160px;
}

#userImgSml, #matchImgSml {
  width: 33px;
  height: 33px;
}

#userImgLrg {
  bottom: 0;
  left: 0;
}

#userImgSml {
  top: 0;
  left: 0;
}

#matchImgLrg {
  top: 0;
  right: 0;
  border: 12px solid $white
}

#matchImgSml {
  bottom: 0;
  right: 0;
  border: 4px solid $white
}

//MATCH
.smitten {
  color: $sRed;
}

#matchTitle {
  font-family: $match;
  font-size: 40px;
  color: $dRed;
  font-weight: 400;
  top: 448px;
  left: 96px;
}

#matchName {
  font-size: 22px;
  top: 52px;
  left: 171px;
}

#pMatch {
  top: 505px;
  left: 79px;
}

//DATETIME
#pDatetime{
  top: 233px;
  left: 30px;
}


//THEME
#pTheme{
  top: 293px;
  left: 30px;
}


//LOCATION
#pLocation{
  bottom: 16px
}
